<div class="row">
    <div class="col8">
        <div class="card">
            <div class="card-header bg-success">
                Employee List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Employee Name</th>
                            <th>Depart Name</th>
                            <th>Conact Number</th>
                            <th>Email id</th>
                            <th>Role</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Employee
            </div>
            <div class="card-body">
                <div class="row">

                </div>
            </div>
        </div>

    </div>

</div>